body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

.modal {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #form {
  margin: 1px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

#header {
  background-color: #f6bd60;
}

#footer {
  background-color: cornsilk;
}

/* .ant-form-item {
  margin-bottom: 8px !important;
}

.collection-create-form_last-form-item {
  margin-bottom: 0;
}

.ant-form-item-control-input {
  margin: 0;
} */

.ant-form-item-control-input-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
